.booking {
  padding: 4rem 2rem;
}

.header {
  text-align: center;
  margin-bottom: 4rem;
}

.title {
  font-size: 4rem;
  font-weight: var(--font-weight-bold);
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: var(--font-weight-light);
  color: #666;
}
