.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-background);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.icon {
    width: 50px;
    height: 50px;
    background-color: var(--color-accent);
    border-radius: 10px;
}
