@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family-sans: 'Inter', sans-serif;
  --font-family-serif: 'Lora', serif;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --hero-text-color: #ffffff;
}

[data-theme='light'] {
  --color-primary: #ffffff;
  --color-secondary: #000080; /* Blue */
  --color-accent: #A52A2A; /* Brown */
  --color-background: #f0f0f0;
  --text-color: #ffffff;
  --card-background: #ffffff;
}

[data-theme='dark'] {
  --color-primary: #000020; /* Dark Blue */
  --color-secondary: #ffffff;
  --color-accent: #D2691E; /* Brown */
  --color-background: #000020;
  --text-color: #ffffff;
  --card-background: #000030;
}

body {
    cursor: auto;
    background-color: var(--color-background);
    color: var(--text-color);
    font-family: var(--font-family-sans);
    font-weight: var(--font-weight-regular);
    line-height: 1.6;
    transition: background-color 0.3s ease, color 0.3s ease;
}

h2, h3, h4, h5, h6 {
  font-family: var(--font-family-serif);
  font-weight: var(--font-weight-bold);
  margin-bottom: 1rem;
  color: var(--color-secondary);
}

  h1{ 
  font-family: var(--font-family-serif);
  font-weight: var(--font-weight-bold);
  margin-bottom: 1rem;
  color: #ffffff;
  }


p {
  margin-bottom: 1rem;
}

a {
  color: var(--color-accent);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--color-secondary);
}


@media (pointer: coarse) {
    .cursor {
        display: none;
    }
}